# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# User settings
xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store

# Local dictionary downloads
.cache/
